# Node
node_modules/
dist/
.env

# Python (if you have backend ai scripts)
__pycache__/
*.pyc
ai_env/
venv/
.pytest_cache/

# System
.DS_Store
Thumbs.db

# Ignore uncompressed assets
frontend/public/images/*.jpg
frontend/public/images/*.png
frontend/public/Dashboard_Assests/*.png
frontend/public/models/*.glb
!frontend/public/models/*_draco.glb
